.live-videos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Ajusta el espacio entre videos según sea necesario */
  justify-content: flex-start; /* Alinea los videos al inicio del contenedor */
}

.video-item {
  flex: 1 1 calc(33.33% - 16px); /* Ajusta el tamaño para que quepan 3 videos en una fila */
  max-width: calc(33.33% - 16px); /* Ajusta el tamaño máximo */
  box-sizing: border-box;
}

.video-item iframe {
  width: 100%; /* Hace que el iframe ocupe el 100% del contenedor */
  height: 315px; /* Ajusta la altura según sea necesario */
}
